* {
    margin: 0;
    /* box-sizing: border-box; */
}

html, body {
    font-size: 18px;
    font-family: sans-serif;
    color: #222;
}

.container {
    max-width: 1200px;
    margin: 30px auto;
    background: #f1f1f1;
    padding: 30px;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
}

.slider {
    border: 2px solid black;
    max-width: 100%;
    margin: 20px auto;
    overflow: hidden;
    position: relative;
    height: 100%;
}

.slider__content-wrapper {
    width: 100%;
    display: flex;
    background: orange;
    position: relative;
    transition: all ease 1s;
}

.slider__item {
    display: none;
    animation-name: fade;
    animation-duration: .5s;
    width: 100%;
    height: auto;
}

.slider__item--active {
    width: 100%;
    display: block;
    transition: all ease .5s;
}

img {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.slider__dots {
    position: absolute;
    top: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.slider__dots-wrapper {
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen (min-width: 768px) {
    .slider__dots-wrapper {
        width: 50%;
    }
}

.slider__dots-item {
    width: 5px;
    height: 5px;
    background-color: white;
    border-radius: 50%;
}

@media screen (min-width: 768px) {
    .slider__dots-item {
        width: 10px;
        height: 10px;
    }
}

.slider__dots-item--active {
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
}

@media screen (min-width: 768px) {
    .slider__dots-item--active {
        width: 20px;
        height: 20px;
    }
}

@keyframes fade {
    from {
        opacity: .4;
    }

    to {
        opacity: 1;
    }
}

.slider__buttons {
    width: 100%;
    top: 45%;
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
}

.slider__buttons-wrapper {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.slider__button-prev, .slider__button-next {
    width: 20px;
    height: 20px;
    background-color: red;
    opacity: 0.2;
    border-radius: 50%;
}

@media screen (min-width: 768px) {
    .slider__button-prev, .slider__button-next {
        width: 50px;
        height: 50px;
        background-color: red;
        opacity: 0.2;
        border-radius: 50%;
    }
}